<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="filename='static/main.css'">
    <title>PRSLS The Game!</title>
</head>
<body>
    <nav>
        <br>
        <ul>
            <li>
                <a href="/">Homepage</a>
            </li>
            <li>
                <a href="/welcome">Welcome</a>
            </li>
            <li>
                <a href="/play">Play</a>
            </li>
        </ul>
        <br>
    </nav>
    <h1>Play Paper Rock Scissors Lizard Spock Online!</h1>

    {%  block content  %}

    {%  endblock  %}

</body>
</html>