{%  extends "base.html"  %}

{%  block content  %}

<body>
    To play the game put your name and your choice of paper, rock or scissors into the address bar after the home /
    <br>
    eg
    <br>
    /Joe/rock
    <br>
    <br>
    Follow this with your opponents name and their choice
    <br>
    eg
    <br>
    /Joe/Rock/Sue/paper
    <br>
    <br>
    hit return and the page will tell you who won!
    <br>
    <br>
    <br>
    <br>
    <br>
    Result:

    {{ result_of_game }}
</body>

{%  endblock  %}