{%  extends "base.html"  %}

{%  block content  %}

<body>
    <main>
        <hr>
        <br>
        <form action="/play" method="POST">
            <label for="player_1">Player 1 Name:</label>
            <input type="text" name="player_1" id="player_1">
            <br>
        
            <label for="player_1_weapon">Player 1 Weapon:</label>
            <input type="text" name="name" id="name">
            <br>
            <br>
        
            <label for="player_2_name">Player 2 Name</label>
            <input type="text" name="attendees" id="attendees">
            <br>
        
            <label for="player_2_weapon">Player 2 Weapon</label>
            <input type="text" name="location" id="location">
            <br>
            <br>
        
            <label for="cpu_player">Cpu Player?</label>
            <input type="checkbox" name="cpu_player?" id="cpu_player?">
            <br>
            <br>
            <br>
            
            <input type="submit" value="Play">
            </form>
        <br>
        <br>
        Latest Game Result:
        <br>
        <br>
        <H2>
        {{ result_of_game }}
        </H2>
    </main>
</body>

{%  endblock  %}