{%  extends "base.html"  %}

{%  block content  %}

<body>
    <main>
        <hr>
        <br>
        To play the game put your name and your choice of paper, rock or scissors into the address bar after the localhost:5000
        <br>
        <br>
        eg
        <br>
        localhost:5000/Joe/Rock
        <br>
        <br>
        <br>
        Follow this with your opponents name and their choice.
        <br>
        <br>
        eg
        <br>
        localhost:5000/Joe/Rock/Sue/Paper
        <br>
        <br>
        hit return and the page will tell you who won!
        <br>
        <br>
        <br>
        You can also play against the computer!
        <br>
        <br>
        The computer players are named:
        <br>
        "Hal", "Morag", "Chris", "Hannah", "Zsolt", "Malcolm", and "Harrison"
        <br>
        <br>
        To play against a computer, put CPU-Playername/CPU into the player 2 position. To play against a random computer opponent, use the name "CPU".
        <br>
        <br>
        eg
        <br>
        localhost:5000/Joe/Rock/Data
        localhost:5000/Joe/Rock/CPU
        <br>
        Each computer player has their own play style! Try strategy!
        <br>
    </main>
</body>

{%  endblock  %}