{%  extends "base.html"  %}

{%  block main  %}

<main class="prs-container">
    <hr>
    <form action="/play" method="POST">
        <h4 class="prs-h4">Select Opponent:</h4>
        <div class="select-cpu-choice">

            <select name="cpu-player" class="game-form" id="cpu-player">
                <option value="Emily">Emily</option>
                <option value="Hannah">Hannah</option>
                <option value="Eugene">Eugene</option>
                <option value="Chris">Chris</option>
                <option value="Zsolt">Zsolt</option>
                <option value="Malcolm">Malcolm</option>
                <option value="Harrison">Harrison</option>
            </select>
        </div>
        <br>

    
        <label for="player_1">Your Name:</label>
        <input type="text" name="player_1" class="game-form" id="player_1">
        <br>
    
        <label for="player_1_weapon">Your Weapon:</label>
        <input type="text" name="player_1_weapon" class="game-form" id="player_1_weapon">
        <br>
        <br>
    
        <label for="submit-button"></label>
        <button type="submit" class="game-form-button" value="Play">
    </form>

    <br>
    Latest Game Result:
    <br>
    <H2>    {{ result_of_game }}    </H2>

</main>


{%  endblock  %}