{%  extends "base.html"  %}

{%  block content  %}

<main className="prs-container">
    <hr>
    <h4 className="prs-h4">Select Opponent:</h4>
    <div className="select-cpu-choice" onChange={handleCPUPlayerChoice}>
        <input className="select-cpu-choice" type="radio" value="Emily" name="cpu_player" /> Emily
        <input className="select-cpu-choice" type="radio" value="Hannah" name="cpu_player" /> Hannah
        <input className="select-cpu-choice" type="radio" value="Eugene" name="cpu_player" /> Eugene
        <input className="select-cpu-choice" type="radio" value="Chris" name="cpu_player" /> Chris
        <input className="select-cpu-choice" type="radio" value="Zsolt" name="cpu_player" /> Zsolt
        <input className="select-cpu-choice" type="radio" value="Malcolm" name="cpu_player" /> Malcolm
        <input className="select-cpu-choice" type="radio" value="Harrison" name="cpu_player" /> Harrison
    </div>
    <br>
    <br>

    <form action="/play" method="POST">
        <label for="player_1">Your Name:</label>
        <input type="text" name="player_1" id="player_1">
        <br>
    
        <label for="player_1_weapon">Your Weapon:</label>
        <input type="text" name="player_1_weapon" id="player_1_weapon">
        <br>
        <br>
    
        <label for="submit-button"></label>
        <input type="submit" name="submit-button" id="submit-button" value="Play">
    </form>

    <br>
    <br>
    Latest Game Result:
    <br>
    <H2>    {{ result_of_game }}    </H2>

    <script>
        $('#submitForm').click(function() {
            alert("RESULT");
        });
    </script>

</main>


{%  endblock  %}